.header {
  padding: 16px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerNav a + a {
  margin-left: 40px;
}

.headerNav a {
  color: #151515;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1.2px;
}

.headerNav a:active {
  opacity: .8;
  transition: all .3s;
}

.icons {
  display: flex;
}

.icons div {
  cursor: pointer;
}

.icons div:first-child {
  margin-right: 16px;
}
