.header {
  padding: 16px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
}

.headerNav > a + a {
  margin-left: 40px;
}

.headerNav a {
  color: #361515;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1.2px;
}

.headerNav a:active {
  opacity: .8;
  transition: all .3s;
}

.icons {
  display: flex;
}

.icons div {
  cursor: pointer;
}

.icons div:first-child {
  margin-right: 16px;
}

.basketOff {
  transform: translate(100%, 0);
}

.basketOff, .basket {
  padding: 40px;
  transition: all .3s;
  width: 35%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 25px rgba(0,0,0,.1);
  background-color: #fff;
}

.basket {
  transition: all .3s;
  transform: translate(0, 0);
}

.basketHeader {
  height: 83.63px;
  display: flex;
  justify-content: space-between;
}

.basketHeader h2 {
  font-size: 18px;
  color: #151515;
  font-weight: bold;
}

.iconsItem {
  display: flex;
}

.iconsItem div {
  width: 26px;
}