.header {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}

.burger {
  width: 2rem;
  height: 2rem;
}

.heart {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 .5rem;
}

.logo {
  margin: auto;
}

.basket {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 .5rem;
}

.headerNav {
  transform: translate(0%, 0);
  padding: 1.8rem 1.4rem;
  transition: all .3s;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 25px rgba(0,0,0,.1);
  background-color: #fff;
  cursor: pointer;
  overflow-x: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.headerNavOff {
  transform: translate(100%, 0);
  width: 100%;
  padding: 2rem;
  position: fixed;
  transition: all .3s;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 25px rgba(0,0,0,.1);
  background-color: #fff;
  cursor: pointer;
  overflow-x: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logoNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.logoNav a:first-child {
  margin: 0 auto;
}

.linksMain {
  margin-top: auto;
  margin-bottom: .8rem;
  display: flex;
  flex-direction: column;
}

.linkMain {
  color: #141414;
  text-transform: uppercase;
  font-weight: 300;
  font-size: .8rem;
  margin: .1rem 0;
}

.number {
  font-weight: bold;
  font-size: 1.2rem;
  color: #141414;
  margin-left: auto;
}

.titleSubItem {
  text-transform: uppercase;
  color: #141414;
  font-weight: 500;
  font-size: .7rem;
  margin-bottom: .6rem;
}

.links {
  color: #9197ae;
  margin-bottom: .8rem;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: .7rem;
}
.links a {
  margin: 0.2rem 0;
}
