.product {
  width: 100%;
  display: flex;
  margin-top: 4rem;
}

.galery {
  height: 100%;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.galery > div {
  width: 50%;
  border: 1px solid #fff;
  position: relative;
}

.description {
  width: 33.3%;
  background-color: #fff;
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
}

.title div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h3, .title span {
  font-size: .9rem;
  font-weight: bold;
  color: #141414;
}

.title span {
  font-size: .8rem;
  margin-top: 1rem;
}

.article {
  text-transform: uppercase;
  color: #979797;
  font-size: 1rem;
  font-weight: 100;
  margin-top: 1rem;
  margin-bottom: 1.6rem;
}

.colors {
  display: flex;
  margin: 1rem 0;
}

.colors > div {
  margin-right: 1rem;
  transition: all .3s;
}

.colorBlock {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  transition:  all .3s;
  border: 1px solid #fff;
}

.select {
  margin: 1.5rem 0;
}

.selecTtitle {
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

.selecTtitle span {
  font-weight: 100;
}

.list {
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.2rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
}

.list div {
  margin: .5rem 0;
  cursor: pointer;
}

.groupBtn {
  display: flex;
  align-items: center;
}

.groupBtn div {
  background-color: #141414;
  font-size: .8rem;
  color: #fff;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .3s;
}

.groupBtn div:hover {
  opacity: .8;
}

.buy {
  padding: .5rem;
  width: 60%;
}

.basket {
  padding: .5rem;
  width: 40%;
  margin: 0 1px;
}

div.heart {
  padding: .5rem;
  background-color: #141414;
}

div.heart svg {
  fill: #fff;
}

.heartInAction {
  padding: .5rem;
}

.div.heartInAction svg  {
  fill: #141414;
}

.nav {
  margin-top: 2rem;
  font-size: .8rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: #141414;
  font-weight: bold;
}

.tooltip {
  background-color: #000;
  margin-top: 20px !important;
  opacity: 1 !important;
  color: #fff;
}

.nav div {
  display: flex;
  align-items: center;
  width: 50%;
  cursor: pointer;
  transition: all .3s;
}

.nav div > a {
  display: flex;
  align-items: center;
}

.nav div:hover {
  opacity: .8;
}

.nav .tooltipBlock:hover {
  opacity: 1;
}

.nav div:last-child {
  justify-content: flex-end;
}

.activeColor {
  display: flex;
  border: 1px solid #151515;
}

.slides {
  margin-bottom: 1rem;
  width: 100%;
  height: 500px;
  position: relative;
}

.imgProductSlide {
  height: 100%;
  width: 100%;
}

.descriptionProduct {
  font-size: .8rem;
  padding: 0;
  margin-top: 1.6rem;
  color: #141414;
  white-space: break-spaces;
}

.count {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: #000;
}

.countPannel {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}

.countPannel span {
  cursor: pointer;
}

.countPannel span:last-child, .countPannel span:first-child {
  font-size: 1.2rem;
}

.sized {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  color: #fff;
  margin-top: 2rem;
  background-color: #151515;
  height: 3rem;
  font-size: .8rem;
  cursor: pointer;
  transition: all .3s;
}

.sized span {
  margin-right: 1rem;
}

.sized:hover {
  opacity: .9;
}

.sized svg {
  fill: #fff;
}

.descriptionProduct p {
  margin-top: 1rem;
}

.modalSize {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color:rgba(000, 000, 000, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  padding: .5rem;
  cursor: pointer;
}

.ItemGalery img{
  object-fit: cover ;
  width: 100%;
  height: 100%;
}

@media (max-width: 599px) {
  .galery {
    display: none;
  }
  .product {
    margin-top: 0rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
  }
  .description {
    width: 100%;
    padding: 1rem;
  }
  .nav {
    font-size: .6rem;
  }
  .descriptionProduct {
    font-size: .7rem;
  }
}