.main {
  width: 100%;
  height: calc(100vh - 77.66px);
  background: url("../../public/images/main-2.jpg") center / cover;
  padding-top: 77px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
  color: #fff;
  font-weight: 900;
	font-family: 'Open Sans', sans-serif;
}
.title h1 {
  font-size: 68px;
}
