.footerTop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2.5rem 0;
  background-color: #1f1d1d;
}

.footerTop > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav {
  width: 100%;
}

.nav div {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: .9rem;
  margin-bottom: 1rem;
}

.footerBotoom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2.5rem;
  background-color: #2B2B2A;
}
.footerBotoom div {
  width: 33.333%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: .8rem;
}

div.number {
  font-weight: bold;
  font-size: 1.2rem;
}

.socialLinks {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.socialLinksTitle {
  margin-bottom: 2rem;
}

.socialLinksList {
  display: flex;
}

.socialLinksList a {
  margin-right: 1rem;
  transition: all .3s;
  display: block;
  width: 3rem;
}

.socialLinksList a:hover {
  opacity: .85;
}

.logo {
  transition: all .3s;
  display: block;
  width: 5rem;
}

.logo:hover {
  opacity: .8;
}

@media ( max-width:599px ) {
  .footerTop {
    flex-direction: column;
  }

  .footerTop > div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
  }

  div.logo {
    justify-content: center;
    margin: 2rem 0;
  }

  .footerBotoom {
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.8rem 1.5rem;
  }
  
  .footerBotoom  div {
    width: 100%;
    margin: .5rem 0;
    justify-content: flex-start;
    font-size: .7rem;
  }

  div.number {
    font-weight: bold;
    font-size: 2rem;
  }
} 