.favorites {
  margin-top: 4rem;
  padding: 0 3rem;
}

.favorites span {
  font-size: 1rem;
  display: block;
  color: #141414;
}

.favorites h2 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 3rem;
  color: #141414;
  margin-bottom: 2rem;
}

.favList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product {
  display: flex;
  margin-top: 3rem;
  flex-grow: 1;
  padding-bottom: 3rem;
  margin-right: 4rem;
  max-width: 30%;
}

div.img {
  width: 240px;
  height: 340px;
  margin-right: 2rem;
}

.color {
  width: 1rem;
  height: 1rem;
}

.description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.description h3 {
  font-weight: 500;
  color: #151515;
  text-transform: capitalize;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.description span {
  display: flex;
  justify-content: space-between;
  font-weight: 100;
  font-size: 1rem;
  margin-bottom: .35rem;
}

.iconsProduct {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.iconsProduct svg {
  width: 20px;
}

.basketBtn {
  text-transform: uppercase;
  font-weight: 100;
  color: #fff;
  background-color: #151515;
  height: 3rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  margin-top: 3rem;
}

.delivery {
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #151515;
  font-size: .9rem;
  margin-top: auto;
}

.product svg {
  cursor: pointer;
  transition: all .3s;
}

.product svg:hover {
  opacity: .7;
}

@media ( max-width:599px ) {
  .favorites {
    margin-top: 0;
    padding: 4.5rem 1.2rem 2rem;
    height: auto;
    margin-bottom: 4rem;
  }

  .favorites h2 {
    font-size: 1.6rem;
  }

  .favorites span {
    font-size: .7rem;
    margin-bottom: .4rem;
  }

}