.catalogItem {
  height: 100%;
  width: 100%;
  position: relative;
}
.button {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
.itemTitle {
  font-size: .8rem;
  font-weight: 700;
  position: absolute;
  left: 0px;
  bottom: 69px;
  color: #151515;
  background: rgba(255,255,255, .7);
  padding: .5rem;
}